/*.box {
  width: 200px;
  height: 200px;
  background-color: rgb(143, 84, 61);
  animation-name: move;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1, 1.64-0.03, 0.53, 0.97);

  position: absolute;
}

@keyframes move {
  0% {
    left: 0px;
    top: 0px;
  }
  30% {
    left: 50px;
    top: 100px;
    background-color: rgb(41, 85, 214);
  }
  50% {
    top: 300px;
    left: 100px;
    width: 400px;
    background-color: blue;
  }
  100% {
    top: 300px;
    left: 500px;
    width: 100px;
    background-color: rgb(255, 153, 0);
  }
}
*/
/* 공통 설정 */
/* animation.css */

@keyframes sway {
  0% {
    rotate: 0deg;
    translate: translateY(0);
  }
  25% {
    rotate: 1.5deg;
    translate: translateY(1px);
  }
  50% {
    rotate: -1.5deg;
    translate: translateY(2px);
  }
  75% {
    rotate: 1.5deg;
    translate: translateY(1px);
  }
  100% {
    rotate: 0deg;
    translate: translateY(0);
  }
}
@keyframes sway2 {
  0% {
    rotate: 0deg;
    translate: translateY(0);
  }
  25% {
    rotate: 1.5deg;
    translate: translateY(1px);
  }
  50% {
    rotate: -1.5deg;
    translate: translateY(2px);
  }
  75% {
    rotate: 1.5deg;
    translate: translateY(1px);
  }
  100% {
    rotate: 0deg;
    translate: translateY(0);
  }
}
@keyframes sway3 {
  0% {
    rotate: 0deg;
    translate: translateY(0);
  }
  25% {
    rotate: 1.5deg;
    translate: translateY(1px);
  }
  50% {
    rotate: -1.5deg;
    translate: translateY(2px);
  }
  75% {
    rotate: 1.5deg;
    translate: translateY(1px);
  }
  100% {
    rotate: 0deg;
    translate: translateY(0);
  }
}

.sway {
  animation: sway 5.5s ease-in-out infinite;
  transform-origin: bottom center;
}
.sway2 {
  animation: sway 5.5s ease-in-out infinite;
  transform-origin: top left;
}
.sway3 {
  animation: sway 5.5s ease-in-out infinite;
  transform-origin: top right;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.overlay5 {
  position: absolute;
  top: 28%;
  left: 37.5%;
  width: 25%;
  height: auto;
  filter: drop-shadow(2px 2px 40px rgba(232, 184, 126, 0.7));
  animation: float 4s ease-in-out infinite;
  cursor: pointer;
  transition: filter 0.6s ease, transform 0.6s ease, scale 0.6s ease;
}

.overlay5:hover {
  filter: drop-shadow(0 0 130px rgba(255, 249, 198, 0.95))
    drop-shadow(0 0 120px rgba(255, 220, 160, 0.75));
  transform: scale(1.05) translateY(-4px);
}

@keyframes shakePalm {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: shakePalm 1s ease-in-out;
}
