@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap");
.bungee {
  font-family: "Bungee", sans-serif;
  font-weight: 100;
}
.suse {
  font-family: "SUSE Mono", sans-serif;
  font-weight: 900;
}
.hegarty {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-box {
  color: #0e0c5eff;
  width: 600px;
  font-size: 20px;
  font-weight: bold;

  line-height: 140%;
  word-spacing: -2.5%;
  word-break: keep-all;
  /* break-all: 글자 하나하나 글자 단위로 줄바꿈 */
  /* keep-all: 단어 단위로 줄바꿈 */

  text-align: center;
  /* text-indent: 100px; */
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.textbox {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(232, 184, 126, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
}
.textbox2 {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(232, 184, 126, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
}
.textbox3 {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(232, 184, 126, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
}
.textbox4 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(232, 184, 126, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
}
.textbox5 {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(232, 184, 126, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
}
.textbox6 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(232, 184, 126, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
}
.textbox7 {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(232, 184, 126, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
}

.overlay2-page,
.overlay3-page,
.overlay4-page,
.overlay5-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 1000;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  transform: scale(0.9);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.overlay-content img {
  width: 40vw;
  max-width: 600px;
}

.overlay-content h2 {
  font-size: 2.5rem;
  color: #ffffffff;
}

.overlay-content p {
  font-size: 1rem;
  color: #f2f1f1ff;
}

.textbox2-wrapper:hover .overlay-content,
.textbox3-wrapper:hover .overlay-content,
.textbox4-wrapper:hover .overlay-content,
.textbox5-wrapper:hover .overlay-content {
  opacity: 1;
  transform: scale(1);
}
